server:
  port: ${PORT:8080}

spring:
  application:
    name: prediction-markets
  
  flyway:
    baseline-on-migrate: true
    baseline-version: "0"
    enabled: true
    url: ${JDBC_DATABASE_URL}
    user: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    locations: classpath:db/migration
  
  r2dbc:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  
  datasource:
    url: ${JDBC_DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  
  data:
    r2dbc:
      repositories:
        enabled: true
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

app:
  name: Oregon Markets
  base-url: ${BASE_URL}
  
  magic:
    api-key: ${MAGIC_API_KEY}
    api-url: ${MAGIC_API_URL}
  
  enclave:
    api-key: ${ENCLAVE_API_KEY}
    api-url: ${ENCLAVE_API_URL}
  
  blnk:
    api-url: ${BLNK_API_URL}
  
  walletconnect:
    project-id: ${WALLETCONNECT_PROJECT_ID}
  
  dynamic:
    environment-id: ${DYNAMIC_ENVIRONMENT_ID}

logging:
  level:
    com.oregonMarkets: INFO

gcp:
  project-id: ${GCP_PROJECT_ID}
  pubsub:
    topics:
      universal-deposit-wallet: ${PUBSUB_TOPIC_WALLET}
    subscriptions:
      universal-deposit-wallet: ${PUBSUB_SUBSCRIPTION_WALLET}

camel:
  component:
    google-pubsub:
      project-id: ${GCP_PROJECT_ID}
